
body {
	font-family: Arial;
	color:#333;
}

h1 {
	margin-bottom: 100px;
}

h1, h2 {
	text-align: center;
}

div {
	margin: 0 auto 100px auto;
	width: 960px;
	height: 200px;
	background: #ccc;
}

#box1 {
	background: linear-gradient(180deg, #0C4F77 0%, #072E46 100%);
}

#box2 {
	background: linear-gradient(45deg, #0C517A 34.58%, #6B99A5 50.18%, #072C43 67.81%);
}

#box3 {
	width: 400px;
	height: 400px;
	background: radial-gradient(69.6% 69.6% at 50% 50%, #EBDEB5 0%, #EB932C 100%);
}

#box4 {
	background: #00AFEC;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

#box5 {
	background: #00AFEC;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75) inset;
}

#box6 {
	background: url(images/wov.png) lightgray 0% 0% / 20% 20% repeat;
}